<VirtualHost *:80>
     ServerAdmin admin@exam.adeoluja.live
     ServerName exam.adeoluja.live
     ServerAlias www.exam.adeoluja.live

     DocumentRoot /var/www/examproject

     <Directory /var/www/examproject>
         Options Indexes FollowSymLinks
         AllowOverride All
         Require all granted
     </Directory>

     ErrorLog ${APACHE_LOG_DIR}/error.log
     CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
